# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/
.eggs/

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.env/
.envrc/

# -----------------------------
# Installer logs
# -----------------------------
pip-log.txt
pip-delete-this-directory.txt

# -----------------------------
# Unit test / coverage
# -----------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/

# -----------------------------
# IDEs / Editors
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Packaging artifacts
# -----------------------------
*.tar.gz
*.whl

# -----------------------------
# PyInstaller
# -----------------------------
*.manifest
*.spec

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log